body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101720;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    background-transparency: 0.5;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0px;
    padding: 0px;
  }
  
.grid-container > div {
    text-align: center;
    padding: 5px 0;
    font-size: 30px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.item2 {
    grid-column-start: 1;
    grid-column-end: 1;
}
.item3 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.item4 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.item5 {
    grid-column-start: 1;
    grid-column-end: 1;
}

#joystick {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    align-items: center;
    background: radial-gradient(circle at 50% 50%, #ffffff, #e5e5e5, #cbcbcb, #b2b2b2, #9a9a9a, #828282, #6c6c6c, #565656, #404040, #2c2c2c, #1a1a1a, #000000);
}
#knob {
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 75px;
    left: 75px;
    cursor: pointer;
    background: radial-gradient(circle at 50% 50%, #484848, #4b4b4b, #4f4f4f, #525252, #555555, #595959, #5c5c5c, #606060, #636363, #676767, #6a6a6a, #6e6e6e);}


.btnGreen {
    background: #1efc0a;
    background-image: -webkit-linear-gradient(top, #1efc0a, #3e702d);
    background-image: -moz-linear-gradient(top, #1efc0a, #3e702d);
    background-image: -ms-linear-gradient(top, #1efc0a, #3e702d);
    background-image: -o-linear-gradient(top, #1efc0a, #3e702d);
    background-image: linear-gradient(to bottom, #1efc0a, #3e702d);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btnGreen:hover {
background: #59fa41;
background-image: -webkit-linear-gradient(top, #59fa41, #41c221);
background-image: -moz-linear-gradient(top, #59fa41, #41c221);
background-image: -ms-linear-gradient(top, #59fa41, #41c221);
background-image: -o-linear-gradient(top, #59fa41, #41c221);
background-image: linear-gradient(to bottom, #59fa41, #41c221);
text-decoration: none;
}

.btnRed {
background: #f02222;
background-image: -webkit-linear-gradient(top, #f02222, #9e2929);
background-image: -moz-linear-gradient(top, #f02222, #9e2929);
background-image: -ms-linear-gradient(top, #f02222, #9e2929);
background-image: -o-linear-gradient(top, #f02222, #9e2929);
background-image: linear-gradient(to bottom, #f02222, #9e2929);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Arial;
color: #ffffff;
font-size: 26px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btnRed:hover {
background: #fa3f3f;
background-image: -webkit-linear-gradient(top, #fa3f3f, #c42035);
background-image: -moz-linear-gradient(top, #fa3f3f, #c42035);
background-image: -ms-linear-gradient(top, #fa3f3f, #c42035);
background-image: -o-linear-gradient(top, #fa3f3f, #c42035);
background-image: linear-gradient(to bottom, #fa3f3f, #c42035);
text-decoration: none;
}

.fullSpeed{
    font-size: 20px;
}

.slidecontainer {
width: 100%; /* Width of the outside container */
}

.slider {
-webkit-appearance: none;  
appearance: none;
width: 50%; 
height: 5px; 
background: #d3d3d3; 
outline: none; 
opacity: 0.7; 
-webkit-transition: .2s; 
transition: opacity .2s;
}




.infoTXT{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: -0.6px;
    word-spacing: 0.4px;
    color: #ccff33;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.infoValues{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: -0.6px;
    word-spacing: 0.4px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}






  
  