<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styleSheet.css">
    <title>Motor Control</title>
</head>
<body>
    <div class="grid-container">
      <div class="item1">
        <!-- Image as logo and Title -->
        <img src="cprob_logo.png" alt="Logo" height="100px">
      </div>
      <div class="item2">
       
       <div class="grid-container">
         <div class="item1">
            <div class="Center buttons">
                <button class="btnGreen" onclick="lightON()">Light ON</button>
                <button class="btnRed" onclick="lightOFF()">Light OFF</button>
                <button class="btnRed" onclick="emergencySTOP()">Emergency Stop</button>
            </div>
         </div>
         <div class="item1">
            <div id="joystick">
                <div id="knob"></div>
            </div>
         </div>
         <div class="item1">
            <a class="infoTXT">Speed Control</a>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <a class="infoTXT"><<< &emsp;&emsp; >>></a><br><br>
            <div>
                <button class="btnGreen fullSpeed" onclick="goBackward()">Full Speed Back</button>
                <button class="btnRed" onclick="stop()">STOP</button>
                <button class="btnGreen fullSpeed" onclick="goForward()">Full Speed Front</button>
            </div>
         </div>
       </div>
      </div>
      <div class="item3">
        <div >
            <a class="infoTXT">Camera Stream</a>
        </div>
        <div class="VideoStream">
            <iframe width="640" height="480" src="http://192.168.68.134:5000/video_feed"></iframe>
        </div>
        <div >
            <a id="Time" class="infoTXT"><span>0</span></a>
        </div>
     </div> 
        <div >
            <a class="infoTXT">PH Value</a><br>
            <a id="PHSensor" class="infoValues"><span>0</span></a>
        </div> 
        <div >
            <a class="infoTXT">Cond. Value</a><br>
            <a id="CondSensor" class="infoValues"><span>0</span></a>
        </div> 
        <div >
            <a class="infoTXT">Ext Temp</a><br>
            <a id="TmpSensor" class="infoValues"><span>0</span></a>
        </div> 
        <div >
            <a class="infoTXT">Bat Level</a><br>
            <a id="BatSensor" class="infoValues"><span>0</span></a>
        </div> 
        <div >
            <a class="infoTXT">Sonar Det.</a><br>
            <a id="SonarSensor" class="infoValues"><span>0</span></a>
        </div> 
        <div >
            <a class="infoTXT">Gyro Info</a><br>
            <a id="GiroSensor" class="infoValues"><span>0</span></a>
        </div> 
    </div>


<script>

    const joystick = document.getElementById('joystick');
    const knob = document.getElementById('knob');
    const speedControl = 100;
    let BatteryLevel = 100;
    let isDragging = false;

    // Update sensor values every second
    setInterval(updateSensorValues, 1000);

    joystick.addEventListener('mousedown', function(e) {
        isDragging = true;
    });

    document.addEventListener('mouseup', function(e) {
        isDragging = false;
    });

    document.addEventListener('mousemove', function(e) {
        if (isDragging) {
            const rect = joystick.getBoundingClientRect();
            const centerX = rect.left + rect.width / 2;
            const centerY = rect.top + rect.height / 2;
            const deltaX = e.clientX - centerX;
            const deltaY = e.clientY - centerY;
            const distance = Math.min(75, Math.sqrt(deltaX * deltaX + deltaY * deltaY));
            const angle = Math.atan2(deltaY, deltaX);

            const knobX = 75 + distance * Math.cos(angle);
            const knobY = 75 + distance * Math.sin(angle);
            knob.style.left = `${knobX}px`;
            knob.style.top = `${knobY}px`;

            const speedMultiplier = 1;

            let motorASpeed = distance * speedMultiplier;
            let motorBSpeed = distance * speedMultiplier;

            if (deltaY < 0) {  // Forward
                motorASpeed = motorASpeed;
                motorBSpeed = motorBSpeed;
            } else {  // Backward
                motorASpeed = -motorASpeed;
                motorBSpeed = -motorBSpeed;
            }

            if (deltaX > 0) {  // Right
                motorASpeed = motorASpeed * (1 - Math.abs(deltaX / 75));
                motorBSpeed = motorBSpeed * (1 + Math.abs(deltaX / 75));
            } else {  // Left
                motorASpeed = motorASpeed * (1 + Math.abs(deltaX / 75));
                motorBSpeed = motorBSpeed * (1 - Math.abs(deltaX / 75));
            }
            console.log(motorASpeed, motorBSpeed);
            controlMotors(motorASpeed, motorBSpeed);
        }
    });


    function goForward(){
        fetch('/forward', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `forward=1`
        });
    }

    function goBackward(){
        fetch('/backward', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `backward=1`
        });
    }

    function stop(){
        fetch('/stop', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `stop=1`
        });
    }

    function emergencySTOP(){
        fetch('/emergency', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `emergency=1`
        });
    }

    function lightON(){
        fetch('/light', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `status=1`
        });
    }

    function lightOFF(){
        fetch('/light', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `status=0`
        });
    }

    function controlMotors(motorA, motorB) {
        fetch('/control', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `motorA=${motorA}&motorB=${motorB}`
        });
    }

    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
    output.innerHTML = this.value;
    }

    function updateSensorValues() {
        
        BatteryLevel = BatteryLevel-0.001;

        const minGyroValue = -180; // Assuming -180 degrees per second
        const maxGyroValue = 180; // Assuming +180 degrees per second

        const randomXGyroValue = Math.random() * (maxGyroValue - minGyroValue) + minGyroValue;
        const randomYGyroValue = Math.random() * (maxGyroValue - minGyroValue) + minGyroValue;
        const randomZGyroValue = Math.random() * (maxGyroValue - minGyroValue) + minGyroValue;
    
        document.getElementById('PHSensor').querySelector('span').innerText = (Math.random() * (8.4 - 7.5) + 7.5).toFixed(2) + " pH";
        document.getElementById('CondSensor').querySelector('span').innerText = (Math.random() * (53000 - 57000) + 53000).toFixed(2) + " µS/cm";
        document.getElementById('TmpSensor').querySelector('span').innerText = (Math.random() * (25 - 10) + 10).toFixed(2) + " °C";
        document.getElementById('BatSensor').querySelector('span').innerText = BatteryLevel.toFixed(2) + " %";
        document.getElementById('SonarSensor').querySelector('span').innerText = "FALSE";
        document.getElementById('GiroSensor').querySelector('span').innerText = randomXGyroValue.toFixed(3) + "°/s, " + randomYGyroValue.toFixed(3) + "°/s, " + randomZGyroValue.toFixed(3) + "°/s";
        document.getElementById('Time').querySelector('span').innerText = new Date();
    }

</script> 
</body>
</html>
